@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 15px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GmarketSansMedium';
  font-size: 20px;
}

#wrap{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  margin-top: 60px;
  border-radius: 15px;
}

form{
  padding-top: 10px;
  text-align: center;
}
input{
  height: 40px;
}

#secTwo{
  padding-bottom: 15px;
  text-align: center;
}

button{
  width: 100px;
  height: 40px;
  margin-left: 15px;
}